@charset "UTF-8";

body {
	position: relative;
  	background-color: #aaaaaa;
    text-align:center; /* for IE */
}

#header {
	height: 85px;
  	width: auto;
  	background: url("../img/dots.png") repeat-x; 
}
#headerleft {
	position: absolute;
	left: 25px;
	top: 6px;
	width: 200px;
 	height: 85px;
  	background: url("../img/header_left.png") no-repeat left top;
}
#headerright {
	position: absolute;
	right: 10px;
	width: 400px;
	height: 85px;
  	background: url("../img/header_right.png") no-repeat right;
}
#nav {
	text-align:right;
	color: white;
	padding: 5px;
	background-color: #003366;
}

#contentsite_reg{
    
    background-color: #ffffff;
    margin-left: 10px;
	   margin-right: 15px;
     
   /*font-family: 'Arial';  */
    position: relative;
    font-family:Tahoma,sans-serif;
  /*text-align:left; /* reset text alignment /
  margin:0 auto; /* for the rest */
	 font-size: 12px;
	 border: solid 1px #003366;
  
}

#contentsite_table{
    background-color: #ffffff;
    height: 800px;
    margin-left: 10px;
	   margin-right: 15px;
     
   /*font-family: 'Arial';  */
    position: relative;
    font-family:Tahoma,sans-serif;
  /*text-align:left; /* reset text alignment /
  margin:0 auto; /* for the rest */
	 font-size: 12px;
  border: solid 1px #003366;
}


#menu {
  position: absolute;
  padding: 10px;
  width: 215px;
  /*background-color: #003366;*/
  
}

#main {
	text-align: left;
  	position: relative;
    font-family:Tahoma,sans-serif;
}
h1, h2 {
	/*font-family: 'Arial';  /
  font-weight:bold; */
  font-family:Tahoma,sans-serif;
	color: #f29400;
}
#cube {
	text-align: center;
	width: 120px;
	height: 120px;
	position: relative;
    left: 250px;
	background-color: #AAAAAA;
}
#cubecontent {
width: 120px;
	height: 120px;
	background: url("../img/wuerfel1.png") no-repeat center;
}


a {
	color: #ffffff;
}

/* Hier is die neue Register Form ohne table*/

 .formLayout
  {
      background-color: #ffffff;
      padding: 10px;
      width: 400px;
  }
  
  .formLayout input
  {
      display: block;
      width: 230px;
      float: left;
      margin-bottom: 7px;
  }

  .formLayout label
  {
      display: block;
      width: 100px;
      float: left;
      margin-bottom: 7px;
      text-align: left;
      padding-right: 5px;
      padding-top:5px
  }
 

  br
  {
      clear: left;
  }
  
  .button {
      margin-left: 10px;
  }

/** END REGISTER FILE*/
 /*   Table.html spielfelder  -- Begin*/
 #playground
 {
  position: absolute;
	width:  625px;
  background-color: #ffffff;
	float:right;
  top: 0px;
  /*margin-right:65px;*/
  margin-left: 550px;
  
}
 #playfield{
    width: 600px;
    text-align:center;
    /*background-color: #fff; /
    
	  float:right;    */
  margin-top: 12px;
  margin-right:0px;
 
 }
 #redcamp{
    width:100px;
    height: 100px;
    background-color: #10639F;
    margin-top: 12px;
 }
  
body p.footer {
font-family:Tahoma,sans-serif;
font-size: 12px;
	text-align: right;
	margin-right: 15px;
}
   
 
 /*   Table.html spielfelder  -- End*/ 